// These colors are specific to the theme. Do not use in a package!

@white: #eeeeee;
@very-light-grey: #c5c8c6;
@light-grey: #969896;
@grey: #373b41;
@dark-grey: #282a2e;
@very-dark-grey: #1d1f21;
@black: #000000;

@cyan: #00d1ff;
@light-cyan: #22e1ff;
@very-light-cyan: #7dfffb;
@light-blue: #5f87ff;
@blue: #81a2be;
@dark-blue: #112255;
@very-dark-blue: #000044;
@purple: #b294bb;
@green: #88ff99;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
